
<section class="main">
    <canvas id="mapCanvas" style="background-color:#1F2B3D"></canvas>
</section>
<section class="tools">
    <div id="lb">Landblock: None</div>
    <div id="coords">Coordinates: Invalid</div>

    <select id="spawns"><option></option></select>
    <input id="groupName" type="text" placeholder="Encounter group name">
    <ul id="generators" size="16">
        <li></li><li></li><li></li><li></li>
        <li></li><li></li><li></li><li></li>
        <li></li><li></li><li></li><li></li>
        <li></li><li></li><li></li><li></li>
    </ul>
</section>
