@import "bourbon";
@import "neat";
@import "normalize";

$color-bg: #2b2b2b;
$color-fg: #B6B3AB;

html,body {
    font: caption;
    color: $color-fg;
    background-color: $color-bg;

    @include margin(0);
    @include padding(0);
    @include size(100%);
}

body {
    display: grid;
    grid-template-columns: 2.5rem auto;
    grid-template-rows: auto 1.5rem;
    grid-template-areas: "nav main" "footer footer";
    overflow: hidden;
}

nav {
    grid-area: nav;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    min-width: 2.5rem;

    a {
        color: $color-fg;
        display: block;
        font-size: 2rem;
        @include padding(0.25rem);
        text-align: center;

        &:last-child {
            margin-top: auto;
        }
    }
}

main {
    grid-area: main;
    width: 100%;//calc(100% - 3rem);
    //height: calc(100% - 1.5rem);
    display: flex;
    flex-flow: row;
}

section {
    title {
        display: block;
    }
}

section.main {
    width: 75%;
    flex: 3 0 auto;
}

section.tools {
    width: 25%;
    flex: 1 0 25%;

    > div {
        white-space: nowrap;
    }

    > div + select {
        margin-top: 0.5rem;
    }

    > select {
        width: 100%;
    }
}

#mapCanvas {
    width: 100%;
    height: 100%;
}

footer {
    grid-area: footer;
    height: 1.5rem;
    width: 100%;
    background-color: grey;
}

// #generators {
//     padding-right: 1em;

//     & ::after {
//         content: "-";
//     }
// }

/*
https://www.sitepoint.com/css-system-styles/

.my-ui-text {
      -webkit-user-select:none;
  }
*/

fieldset {
    display: block;

    label {
        display: block;
        line-height: 2rem;
        text-align: right;

        > input {
            margin-left: 0.5rem;
            width: 10rem;
        }
    }
}

hr {
    width: 100%;
}

.w33 { width: 33%; }

.flex-vert {
    display: flex;
    flex-direction: column;
    // align-items: stretch;
    // align-content: stretch;
}

.flex-fill {
    flex: 1 1 auto;
}

.no-scroll {
    overflow: hidden;
    height: 100%;
}

.auto-scroll {
    overflow: auto;
    height: 100%;
}

#groupName { width: 100%; }

#generators {
    margin: 0;
    padding: 0;
    background-color: #fff;
    list-style-type: none;
    font-size: small;
    color: #000;
}

#generators > li {
    white-space: nowrap;
    vertical-align: middle;
}

#generators > li.active {
    background-color: blue;
    color: #fff;
}

#generators > li::before {
    content: "";
    display: inline-block;
    background-color: none;
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
}

#generators > li:nth-child(2)::before {
    background-color: #4363d8;
}
#generators > li:nth-child(3)::before {
    background-color: #f58231;
}
#generators > li:nth-child(4)::before {
    background-color: #911eb4;
}
#generators > li:nth-child(5)::before {
    background-color: #f032e6;
}
#generators > li:nth-child(6)::before {
    background-color: #ffe119;
}
#generators > li:nth-child(7)::before {
    background-color: #3cb44b;
}
#generators > li:nth-child(8)::before {
    background-color: #e6194B;
}
#generators > li:nth-child(9)::before {
    background-color: #fabebe;
}
#generators > li:nth-child(10)::before {
    background-color: #bcf60c;
}
#generators > li:nth-child(11)::before {
    background-color: #e6beff;
}
#generators > li:nth-child(12)::before {
    background-color: #9A6324;
}
#generators > li:nth-child(13)::before {
    background-color: #fffac8;
}
#generators > li:nth-child(14)::before {
    background-color: #808000;
}
#generators > li:nth-child(15)::before {
    background-color: #ffd8b1;
}
#generators > li:nth-child(16)::before {
    background-color: #800000;
}
